<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>DESAFIO BLACK & WHITE</title>
</head>

<body>
    <h1>BLACK & WHITE</h1>

    <form action="/cargar">
        <section>
            <label for="img">Image URL</label>
            <input type="text" id="img" name="img" placeholder="Image URL">
        </section>
        <button type="submit">Enviar Imagen</button>
    </form>
</body>

</html>