body {
    background-color: #000;
    text-align: center;
    color: #fff;
}

label, input {
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #787878;
    color: #fff;
}